/*
    Basscss Base
*/



body,
button {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p,
dl,
ol,
ul {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 1rem;
}

pre,
code,
samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  padding-left: 2rem;
}

blockquote,
blockquote p {
  font-size: 1.25rem;
  font-style: italic;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: .875rem;
}

h6,
.h6 {
  font-size: .75rem;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  line-height: 2.25em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 2.25em;
  -webkit-appearance: none;
  margin-top: 0;
  margin-bottom: .5rem;
  padding: .25em 1rem;
}

select {
  line-height: 2em;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  height: 2.25em;
  margin-top: 0;
  margin-bottom: .5rem;
}



textarea {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin-top: 0;
  margin-bottom: .5rem;
}

button,
input[type=button],
input[type=submit],
input[type=reset],
.button {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 2.25em;
  margin: 0;
  padding: 0 1rem;
  height: auto;
  width: auto;
  min-height: 2.25em;
  border: 0;
  -webkit-appearance: none;
}

.button:hover {
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: .25em 1rem;
  line-height: inherit;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}