
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--dark-gray);
}

.is-active { color: var(--dark-gray) }

.waves {
  animation: waves 1.6s linear infinite;
}

@keyframes waves {
  from {
    box-shadow: 0 0 0 0 var(--dark-gray), 0 0 0 1px rgba(var(--bright-blue), .5);
  }
  to {
    box-shadow: 0 0 0 8px var(--dark-gray), 0 0 0 16px rgba(var(--bright-blue), 0);
  }
}

@keyframes vibrate {
  from { transform: translateX(-2px) }
  to { transform: translateX(2px) }
}

.dot {
  line-height: 1.625em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.dot:hover {
  text-decoration: none;
}

.dot-bright-blue:focus {
  box-shadow: 0 0 0 8px var(--dark-gray), 0 0 0 16px rgba(var(--bright-blue), .5);
  outline: none;
  animation: vibrate .1s linear infinite;
}

.dot-blue {
  color: white;
  background-color: var(--blue);
}

.dot-bright-blue {
  color: var(--dark-gray);
  background-color: var(--bright-blue);
}

.border-blue {
  border: 1px solid var(--blue);
}

.outline-blue * {
  box-shadow: 0 0 0 1px rgba(var(--blue), .75);
}

.highlight pre { background-color: transparent; margin-bottom: 0 }


/* Example component */
.Example {
  background-color: var(--darken-1);
}

  .Example_rendered {
    padding: var(--space-2);
  }

  .Example_code {
    padding: var(--space-2);
    background-color: var(--darken-1);
  }

  .Example_code pre {
    margin-bottom: 0;
    background-color: transparent;
  }

