<footer class="py4">
  <div class="sm-table">
    <div class="sm-table-cell nowrap py2 xs-center">
      <a class="button button-blue-outline" href="https://twitter.com/intent/tweet?text=Basscss: Low-Level CSS Toolkit&url=http://basscss.com&via=jxnblk" target="_blank">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"/>
        </svg>
        Tweet
      </a>
    </div>
    <div class="sm-table-cell full-width py2 xs-center">
      <div class="h5 bold px2">
        <a href="/" class="button" data-nav-item>Home</a>
        <a href="/docs" class="button" data-nav-item>Docs</a>
        <a href="//github.com/jxnblk/basscss" class="button">Github</a>
      </div>
    </div>
    <div class="sm-table-cell py2 nowrap right-align">
      <p class="h5 mb0 xs-center">
        <svg class="icon red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
          <path d=" M0 10 C0 6, 3 2, 8 2 C12 2, 15 5, 16 6 C17 5, 20 2, 24 2 C30 2, 32 6, 32 10 C32 18, 18 29, 16 30 C14 29, 0 18, 0 10 " />
        </svg>
        Made with love by
        <a href="//jxnblk.com">Jxnblk</a>
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Source+Code+Pro::latin' ] }
  };
(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
wf.type = 'text/javascript';
wf.async = 'true';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wf, s);
})(); </script>

