/*
  
    Basscss.com Styles

*/


@import "basscss-base";
@import "basscss-utilities";
@import "basscss-positions";
@import "basscss-grid";
@import "basscss-table-object";
@import "basscss-color-basic";


@import "./base/responsive-type";
@import "./base/type-h0";
@import "./base/icons";
@import "./base/button-sizes";

@import "./color/site";
@import "./color/pygments";
@import "./color/colors";
@import "./color/button-bright-blue-outline";

/* Custom Media Queries */
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 500;
  --h4: 1.125rem;
  --h5: 1rem;
  --h6: .875rem;
  --container-width: 72em;
}

@import "./color/variables";


